@import '../node_modules/normalize.css/normalize';
@import '../node_modules/milligram/dist/milligram';
@import './variables';

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.full-height {
  height: 100%;
  min-height: 100%;
}

.no-js .js-only {
  display: none;
}

.markdown-page {
  padding-top: 20px;
}

// milligram overrides

.button:focus,
.button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
    background-color: #5f5c61;
    border-color: #5f5c61;
    color: #fff;
    outline: 0;
}

h2 {
  font-size: 2.5rem;
  @include respond-to(tablet) {
    font-size: 3.6rem;
  }
}
