// **********************
// *** color palette ***
// **********************

$main: #9b4dca;
$textOnMain: white;

$low-gi: #31c931;
$medium-gi: #0f84e8;
$high-gi: #e42920;

//$linkHover: #5f5c61;
$linkHover: #6f3393;
$activeTab: #6f3393;

// ******************************
// *** responsive breakpoints ***
// ******************************

$breakpoints: (
  'mobile-small'  : 320px,
  'mobile'  : 375px,
  'mobile-large'  : 425px,
  'tablet' : 768px,
  'laptop'  : 1024px,
  'desktop'  : 1440px
);
@mixin respond-to($breakpoint) {
  // retrieve value from the key
  $value: map-get($breakpoints, $breakpoint);
  // if the key exists in the map
  @if $value != null {
    // print a media query based on the value
    @media (min-width: $value) {
      @content;
    }
  }
  // if the key doesn't exist in the map show a warning
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

// *** other ***

$footerHeight: 220px;
$footerHeightOffset: -220px;
