{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env" : {
    "jest" : true,
  },
  "rules": {
      "semi": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "one-var-declaration-per-line": 0,
      "one-var": 0,
  }
}
