@import '../../css/variables';

table.gi-data-table__table {
  font-size: 0.9em;
  @include respond-to(mobile-large) {
    font-size: inherit;
  }
}
th.gi-data-table__category-column {
  @include respond-to(tablet) {
    width: 200px;
  }
}
th.gi-data-table__gi-column {
  white-space: nowrap;
  text-align: center;
  padding: 0;
  width: 70px;
  @include respond-to(mobile-large) {
    width: 100px;
  }
  @include respond-to(tablet) {
    width: 150px;
  }
}
td.gi-data-table__gi-column {
  text-align: center;
  padding: 0;
  border-top-color: white;
  border-bottom-color: white;
}
td.gi-data-table__gi-column--high-gi {
  background-color: $high-gi;
  color: white;
}
td.gi-data-table__gi-column--medium-gi {
  background-color: $medium-gi;
  color: white;
}
td.gi-data-table__gi-column--low-gi {
  background-color: $low-gi;
  color: white;
}
td.gi-data-table__category-column,
td.gi-data-table__food-column {
  padding: 2px;
  @include respond-to(mobile-large) {
    padding: 5px;
  }
}
th.gi-data-table__food-column {
  padding-left: 2px;
  @include respond-to(mobile-large) {
    padding-left: 5px;
  }
}
