@import '../../css/variables';

.gi-data-filter {
  padding-bottom: 10px;
  text-align: center;
  @include respond-to(tablet) {
    padding-top: 10px;
  }
}
.gi-data-filter h2 {
  font-size: 14px;
  letter-spacing: inherit;
  text-transform: uppercase;
  margin: 5px 0px 15px 0px;
}
.gi-data-filter__filter-item {
  height: 2.8rem;
  line-height: 2.8rem;
  padding: 0 1.5rem;
  margin-right: 5px;
}
.gi-data-filter__filter-item--active,
.gi-data-filter__filter-item--active:hover {
  border-color: $main;
  background-color: $main;
}
