@import '../../css/variables';

.gi-data-text-and-sort-filter {
  position: relative;
}
input.gi-data-text-and-sort-filter__input {
  padding-right: 115px;
}
.gi-data-text-and-sort-filter__clear-button {
  position: absolute;
  right: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
