@import '../../css/variables';

.site-header {
  background-color: $lightest;
  height: 60px;
  padding-left: 10px;
  @include respond-to(tablet) {
    padding-left: 40px;
  }
  @include respond-to(laptop) {
    padding-left: 60px;
  }
  @include respond-to(desktop) {
    padding-left: 80px;
  }
}
.site-header__home-link {
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  @include respond-to(tablet) {
    font-size: 30px;
  }
}
.site-header__home-link,
.site-header__home-link:hover,
.site-header__home-link:focus {
  color: $main;
}
.site-header__page-links {
  float: right;
}
.site-header__page-link-container {
  float: left;
}
.site-header__page-link {
  height: 60px;
  line-height: 60px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  @include respond-to(mobile-large) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @include respond-to(tablet) {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.site-header__page-link--active,
.site-header__page-link--active:hover,
.site-header__page-link--active:focus {
  background-color: $main;
  color: white;
}
