@import '../../css/variables';

.site-header {
  background-color: $main;
  height: 60px;
}
.site-header__home-link {
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  @include respond-to(tablet) {
    font-size: 30px;
  }
}
.site-header__home-link,
.site-header__home-link:hover,
.site-header__home-link:focus {
  color: $textOnMain;
}
.site-header__logo-image {
  height: 46px;
  border-radius: 9px;
  margin-top: 7px;
}

.site-header__page-links {
  float: right;
}
.site-header__page-link-container {
  float: left;
}
.site-header__page-link {
  height: 60px;
  line-height: 60px;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  @include respond-to(mobile-large) {
    margin-left: 20px;
    margin-right: 20px;
  }
  @include respond-to(tablet) {
    margin-left: 40px;
    margin-right: 40px;
  }
}
.site-header__page-link,
.site-header__page-link:hover,
.site-header__page-link:focus {
  color: $textOnMain;
}
.site-header__page-link--active,
.site-header__page-link--active:hover,
.site-header__page-link--active:focus {
  border-bottom: solid 1px $textOnMain;
  display: inline;
  padding-bottom: 3px;
}
