@import '../../css/variables';

.gi-data-text-filter {
  position: relative;
  padding-top: 10px;
}
form.gi-data-text-filter__form {
  margin: 0px;
}
input.gi-data-text-filter__input {
  padding-right: 115px;
}
.gi-data-text-filter__clear-button {
  position: absolute;
  right: 0px;
  bottom: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.gi-data-text-filter__help-text {
  position: absolute;
  left: 5px;
  bottom: -5px;
  font-size: 12px;
  color: $main;
}
