@import '../../css/variables';

.gi-data-table-header {
  display: none;
  padding-top: 15px;
  text-align: center;
  @include respond-to(tablet) {
    display: inline-block;
    width: 100%;
  }
}

h2.gi-data-table-header__title {
  margin-bottom: 0px;
}
