@import '../../css/variables';

.site-content {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  @include respond-to(tablet) {
    padding-left: 40px;
  }
  @include respond-to(laptop) {
    padding-left: 60px;
  }
  @include respond-to(desktop) {
    padding-left: 80px;
  }
}
.site-content__page {
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
